*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	padding: 10px;
	overflow-x: hidden;
}
.grid-container{
	width: 90%;
	height: 100vh;
	margin: auto;
	display: grid;
	/*grid-template-columns: 200px 100px;*/
	/*grid-template-columns: 2fr 1fr;*/
	/*grid-template-columns: repeat(4, 100px);*/
	/*grid-template-rows: 200px 150px;*/
	/*grid-auto-rows: 150px;
	grid-template-rows: 200px;*/
	grid-template-columns: 200px 250px;
	grid-auto-rows: minmax(150px, auto);
	/*grid-row-gap: 20px;*/
	/*grid-row-gap: 10px;*/
	grid-gap: 15px;

	/*justify-content: end;
	align-content: center;*/

	/*justify-items: center;
	align-items: center;*/
}
.grid-item{
	background: lightblue;
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	border: 2px solid #333;
}

/*.grid-container{
	grid-template-areas: 
		"header header"
		"sidebar content"
		"sidebar content"
		"text content";
}
.grid-item-1{
	grid-area: header;
}
.grid-item-2{
	grid-area: sidebar;
}
.grid-item-3{
	grid-area: content;
}
.grid-item-4{
	grid-area: text;
}*/

/*.grid-item-1{
	/*grid-column: 1 / 3; /* values should not be more than num of column 
	grid-column: span 1;
}
.grid-item-2
	grid-column: 1 / 2; /* values should not be more than num of column 
	grid-row: 2 / 4;
}
.grid-item-3{
	grid-column: 2 / 3; /* values should not be more than num of column 
	grid-row: span 3;
}
.grid-item-4{
	/*grid-column: 1 / 3; /* values should not be more than num of column 
	grid-column: span 2;
}*/

.grid-item-1{
	align-self: start;
	justify-self: center;
}