*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	display: flex;
	flex-direction: column;
}
video{
	width: 500px;
	margin: auto;
}
progress{
	width: 90%;
	margin: auto;
	display: none;
}
button{
	height: 100px;
}